/_build
/examples/*.rst
/examples/*.py
/tutorials/*.rst
/tutorials/*.py
/tutorials/*.phoebe
/tutorials/*.bundle
/examples/*.bundle
*_tmp*
*after.phoebe
*.ipynb_checkpoints*
*.pyc*
*.active
*.profile
*.log
*.eps
*.pdf
*.py.out.progress
TEST*.ipynb

.DS_Store

examples/lc.png
